ClinicaWeb/Connected Services/ServiciosWS/CiudadWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarCiudades" type="tns:listarCiudades" />
  <xs:element name="listarCiudadesResponse" type="tns:listarCiudadesResponse" />
  <xs:element name="obtenerCiudadPorId" type="tns:obtenerCiudadPorId" />
  <xs:element name="obtenerCiudadPorIdResponse" type="tns:obtenerCiudadPorIdResponse" />
  <xs:complexType name="obtenerCiudadPorId">
    <xs:sequence>
      <xs:element name="idCiudad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCiudadPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ciudad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciudad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="departamento" type="tns:departamento" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="departamento">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCiudades">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCiudadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ciudad" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>