ClinicaWeb/Connected Services/ServiciosWS/DiagnosticoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarDiagnostico" type="tns:eliminarDiagnostico" />
  <xs:element name="eliminarDiagnosticoResponse" type="tns:eliminarDiagnosticoResponse" />
  <xs:element name="insertarDiagnostico" type="tns:insertarDiagnostico" />
  <xs:element name="insertarDiagnosticoResponse" type="tns:insertarDiagnosticoResponse" />
  <xs:element name="listarDiagnosticos" type="tns:listarDiagnosticos" />
  <xs:element name="listarDiagnosticosResponse" type="tns:listarDiagnosticosResponse" />
  <xs:element name="modificarDiagnostico" type="tns:modificarDiagnostico" />
  <xs:element name="modificarDiagnosticoResponse" type="tns:modificarDiagnosticoResponse" />
  <xs:element name="obtenerDiagnosticoPorId" type="tns:obtenerDiagnosticoPorId" />
  <xs:element name="obtenerDiagnosticoPorIdResponse" type="tns:obtenerDiagnosticoPorIdResponse" />
  <xs:element name="obtenerDiagnosticosPorFecha" type="tns:obtenerDiagnosticosPorFecha" />
  <xs:element name="obtenerDiagnosticosPorFechaResponse" type="tns:obtenerDiagnosticosPorFechaResponse" />
  <xs:complexType name="modificarDiagnostico">
    <xs:sequence>
      <xs:element minOccurs="0" name="diagnostico" type="tns:diagnostico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diagnostico">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="citaMedica" type="tns:citaMedica" />
      <xs:element minOccurs="0" name="descripcionDiagnostico" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idDiagnostico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaMedica">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="consultorio" type="tns:consultorio" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="historialClinico" type="tns:historialClinico" />
      <xs:element minOccurs="0" name="hora" type="xs:dateTime" />
      <xs:element name="idCita" type="xs:int" />
      <xs:element minOccurs="0" name="medico" type="tns:medico" />
      <xs:element minOccurs="0" name="modalidad" type="tns:modalidad" />
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
      <xs:element name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultorio">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="local" type="tns:local" />
      <xs:element minOccurs="0" name="medico" type="tns:medico" />
      <xs:element name="numConsultorio" type="xs:int" />
      <xs:element name="piso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="local">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ciudad" type="tns:ciudad" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="consultorios" nillable="true" type="tns:consultorio" />
      <xs:element minOccurs="0" name="departamento" type="tns:departamento" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="especialidades" nillable="true" type="tns:especialidad" />
      <xs:element name="idLocal" type="xs:int" />
      <xs:element minOccurs="0" name="ubigeo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciudad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="departamento" type="tns:departamento" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="departamento">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="linkFacebook" type="xs:string" />
      <xs:element minOccurs="0" name="linkInstagram" type="xs:string" />
      <xs:element minOccurs="0" name="logo" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoDeContacto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="locales" nillable="true" type="tns:local" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="medicos" nillable="true" type="tns:medico" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoMedico" type="xs:string" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element minOccurs="0" name="numeroColegiatura" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ciudad" type="tns:ciudad" />
      <xs:element minOccurs="0" name="departamento" type="tns:departamento" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="docIdentidad" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="historialClinico" type="tns:historialClinico" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="historialClinico">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="citasMedicas" nillable="true" type="tns:citaMedica" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idHistorial" type="xs:int" />
      <xs:element minOccurs="0" name="obsGenerales" type="xs:string" />
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paciente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="altura" type="xs:double" />
          <xs:element minOccurs="0" name="codigoPaciente" type="xs:string" />
          <xs:element name="peso" type="xs:double" />
          <xs:element minOccurs="0" name="tipoSangre" type="tns:tipoDeSangre" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoDeSangre">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDiagnosticoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDiagnosticosPorFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDiagnosticosPorFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:diagnostico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDiagnostico">
    <xs:sequence>
      <xs:element minOccurs="0" name="diagnostico" type="tns:diagnostico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDiagnosticoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDiagnosticos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDiagnosticosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:diagnostico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDiagnosticoPorId">
    <xs:sequence>
      <xs:element name="idDiagnostico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDiagnosticoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:diagnostico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDiagnostico">
    <xs:sequence>
      <xs:element name="idDiagnostico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDiagnosticoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRADOR" />
      <xs:enumeration value="MEDICO" />
      <xs:enumeration value="PACIENTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROGRAMADA" />
      <xs:enumeration value="CANCELADA" />
      <xs:enumeration value="REALIZADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="modalidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRESENCIAL" />
      <xs:enumeration value="VIRTUAL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>