ClinicaWeb/Connected Services/ServiciosWS/ReporteDiagnosticosWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteDiagnosticos" type="tns:generarReporteDiagnosticos" />
  <xs:element name="generarReporteDiagnosticosMedico" type="tns:generarReporteDiagnosticosMedico" />
  <xs:element name="generarReporteDiagnosticosMedicoResponse" type="tns:generarReporteDiagnosticosMedicoResponse" />
  <xs:element name="generarReporteDiagnosticosResponse" type="tns:generarReporteDiagnosticosResponse" />
  <xs:complexType name="generarReporteDiagnosticos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteDiagnosticosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteDiagnosticosMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoMedico" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteDiagnosticosMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>