ClinicaWeb/Connected Services/ServiciosWS/ReporteMedicoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteMedico" type="tns:generarReporteMedico" />
  <xs:element name="generarReporteMedicoResponse" type="tns:generarReporteMedicoResponse" />
  <xs:complexType name="generarReporteMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoMedico" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>