ClinicaWeb/Connected Services/ServiciosWS/TipoDeSangreWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTipoSangre" type="tns:listarTipoSangre" />
  <xs:element name="listarTipoSangreResponse" type="tns:listarTipoSangreResponse" />
  <xs:complexType name="listarTipoSangre">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTipoSangreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoDeSangre" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDeSangre">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>