ClinicaWeb/Connected Services/ServiciosWS/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarUsuarioPorId" type="tns:eliminarUsuarioPorId" />
  <xs:element name="eliminarUsuarioPorIdResponse" type="tns:eliminarUsuarioPorIdResponse" />
  <xs:element name="eliminarUsuarioPorUsername" type="tns:eliminarUsuarioPorUsername" />
  <xs:element name="eliminarUsuarioPorUsernameResponse" type="tns:eliminarUsuarioPorUsernameResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarUsuario" type="tns:listarUsuario" />
  <xs:element name="listarUsuarioResponse" type="tns:listarUsuarioResponse" />
  <xs:element name="modificarUsuario" type="tns:modificarUsuario" />
  <xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse" />
  <xs:element name="obtenerUsuarioPorId" type="tns:obtenerUsuarioPorId" />
  <xs:element name="obtenerUsuarioPorIdResponse" type="tns:obtenerUsuarioPorIdResponse" />
  <xs:element name="obtenerUsuarioPorUsername" type="tns:obtenerUsuarioPorUsername" />
  <xs:element name="obtenerUsuarioPorUsernameResponse" type="tns:obtenerUsuarioPorUsernameResponse" />
  <xs:element name="verificarUsuario" type="tns:verificarUsuario" />
  <xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />
  <xs:complexType name="listarUsuario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioPorId">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorUsernameResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorId">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioPorUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioPorUsernameResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRADOR" />
      <xs:enumeration value="MEDICO" />
      <xs:enumeration value="PACIENTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>